{% include 'header.html' %}
<body style="background: linear-gradient(#1F1F4B, #292b30); margin: 0; min-height: 100vh;">

  <div class="modal fade" id="newPost">
    <div class="modal-dialog">
      <div class="modal-content" style="background-image: url(/static/other/observatory_bg.png);">
  
        <div class="modal-header text-white">
          <div class="col"></div>
          <div class="col-auto text-white ps-4"><h4 class="fw-bold">upload your magic here</h4></div>
          <div class="col"></div>
          <button type="button" class="btn-close" style="background-color:#fff;" data-bs-dismiss="modal"></button>
        </div>
  
        <form role="form" enctype=multipart/form-data action="/save_image" method="POST">
          <div class="modal-body border-0 text-center" style="background-color: rgb(58, 56, 71);">
            <label class="btn fw-bold text-white m-3">
              <i class="bi bi-image-fill pe-2"></i> Choose your Photo
              <input name="image_file" class="image_file" type="file" hidden required>
              <img class="pt-3" id="modal_img" style="width: 75%;" >
            </label>
            <div class="row">
              <div class="col"><hr style="color: #fff;"></div>
              <div class="col-auto text-white fw-bold">ALSO</div>
              <div class="col"><hr style="color: #fff;"></div>
            </div>
            <div class="input-group pt-4 ps-5 pe-5 input-group-lg">
              <input type="text" class="form-control" name="title" placeholder="Image title here..." required
                style="background-color:rgb(43, 38, 53); border: 0; color: #fff; border-radius: 2px;">
            </div>
            <div class="input-group pt-3 ps-5 pe-5 input-group-lg">
              <textarea name="description" class="form-control" placeholder="Description..."
                style="background-color:rgb(43, 38, 53); border: 0; color: #fff; border-radius: 2px;"></textarea>
            </div>
            <div class="input-group pt-3 ps-5 pe-5 input-group-lg">
              <input type="text" class="form-control" name="tags" placeholder="Select tags or create new tags..." list="tags" required
                style="background-color:rgb(43, 38, 53); border: 0; color: #fff; border-radius: 2px;">
              <datalist id="tags">
                {%for z in tags%}
                <option value="{{z.1}}">
                {%endfor%}
              </datalist>
            </div>  
          </div>
  
          <div class="modal-footer" style="background-color: rgb(58, 56, 71); background-image: url(/static/other/observatory_lower.png);">
            <button type="submit" class="btn btn-success fw-bold" data-bs-dismiss="modal">Submit<i class="bi bi-box-arrow-in-right ps-2"></i></button>
          </div>
        </form>
  
      </div>
    </div>
  </div>
  

{% for y in specImg %}
<div class="modal fade" id="editPost">
  <div class="modal-dialog">
    <div class="modal-content" style="background-image: url(/static/other/observatory_bg.png);">

      <div class="modal-header text-white">
        <div class="col"></div>
        <div class="col-auto text-white ps-4"><h4 class="fw-bold">edit your magic here</h4></div>
        <div class="col"></div>
        <button type="button" class="btn-close" style="background-color:#fff;" data-bs-dismiss="modal"></button>
      </div>

      <form role="form" enctype=multipart/form-data action="/save_edited_image" method="POST">
        <div class="modal-body border-0 text-center" style="background-color: rgb(58, 56, 71);">
          <label class="btn fw-bold text-white m-3">
            <img src="/static/img/{{y.3}}" id="modal_img" style="width: 75%;">
            <input type="hidden" value="{{ y.1 }}" name="edit_this"/>
          </label>
          <div class="row">
            <div class="col"><hr style="color: #fff;"></div>
            <div class="col-auto text-white fw-bold">ALSO</div>
            <div class="col"><hr style="color: #fff;"></div>
          </div>
          <div class="input-group pt-4 ps-5 pe-5 input-group-lg">
            <input type="text" class="form-control" name="title" value="{{y.4}}" placeholder="Image title here..." required
              style="background-color:rgb(43, 38, 53); border: 0; color: #fff; border-radius: 2px;">
          </div>
          <div class="input-group pt-3 ps-5 pe-5 input-group-lg">
            <textarea name="description" class="form-control" placeholder="Description..."
              style="background-color:rgb(43, 38, 53); border: 0; color: #fff; border-radius: 2px;">{{y.5}}</textarea>
          </div>
          <div class="input-group pt-3 ps-5 pe-5 input-group-lg">
            <input type="text" class="form-control" name="tags" value="{{y.2}}" placeholder="Select tags or create new tags..." list="tags" required
              style="background-color:rgb(43, 38, 53); border: 0; color: #fff; border-radius: 2px;">
            <datalist id="tags">
              {%for z in tags%}
              <option value="{{z.1}}">
              {%endfor%}
            </datalist>
          </div>  
        </div>

        <div class="modal-footer" style="background-color: rgb(58, 56, 71); background-image: url(/static/other/observatory_lower.png);">
          <button type="submit" class="btn btn-success fw-bold" data-bs-dismiss="modal">Submit<i class="bi bi-box-arrow-in-right ps-2"></i></button>
        </div>
      </form>

    </div>
  </div>
</div>


<!-- bagian header -->
<div class="p-5 text-white text-center">
<!--   <h2 class="pt-4 fw-bold" style="color: #aed8ea;">{{line}}</h2> -->
</div>

<!-- bagian isi -->
<div class="container mt-5">
  <div class="row">
    <!-- post -->
    <div class="col-sm-8">
      <h2 class="fw-bold text-white">
        {{y.4}}
      </h2>
      <h6 style="color: #b8b8b8; display: flex; justify-content: space-between; align-items: center;">
        <div>
            {% if y.7 is not none %}
                <a href="/userpage/{{y.7}}"><i class="bi bi-person-fill">   {{y.7}}</i></a>
            {% else %}
                <i class="bi bi-person-fill">   {{y.7}}</i>
            {% endif %}
            <i class="bi bi-dot"></i> 
            <a href="/t/{{y.0}}"><i class="bi bi-tag-fill">   {{y.2}}</i></a>
            <i class="bi bi-dot"></i> 
            <i class="bi bi-calendar-week">      {{y.6}}</i>
        </div>
        <div style="display: flex; align-items: center;">
            {% if y.5 %}
                <button style="color: #ddd;" class="likeButton btn" data-image-id="{{y.1}}" data-liked="{{y.10}}" data-logged-in="{{session['uname']}}">
                    <span class="bi {% if y.10 and session['uname'] %}bi-heart-fill{% else %}bi-heart{% endif %}"></span>
                    <label class="like-count mx-1">{{ y.9 }}</label>
                </button>
            {% endif %}
            {% if session['uname'] == y.7 %}
            <i class="bi bi-dot"></i> 
                <form action="{{url_for('sayonara_image')}}" method="post">
                    <input type="hidden" value="{{ y.1 }}" name="del_this" />
                    <button style="color: #ddd;" class="deleteButton btn" data-image-id="{{y.1}}">
                        <span class="bi bi-trash3-fill"></span>
                    </button>
                </form>
                <i class="bi bi-dot"></i> 
                <div class="col">
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#editPost" style="float:right; color: #ddd;">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                </div>
                <i class="bi bi-dot"></i> 
            {% endif %}
        </div>
    </h6>
    
    
    
      <hr style="color: #fff;">

      <div class="fakeimg position-relative">
        <img src="/static/img/{{y.3}}" width="100%">
      
        <!-- Dropdown for Share options -->
        <div class="dropdown" style="position: absolute; top: 10px; right: 10px;">
          <button class="btn" style="background-color: #30303088; " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="bi bi-share-fill" style="color: #4ae657; font-weight: bold;"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item download-image" href="#" style="color: #fff;">Download</a>
            <a class="dropdown-item copy-link2" href="#" style="color: #fff;">Copy Link</a>
          </div>
        </div>
      </div>
      {% if y.5 %}
      <div class="mb-5">
        <h4 class="fw-bold text-white mt-5">Description</h4>
        <hr style="color: #fff;"><!-- Rubah dulu lan -->
        <p class="text-white">{{y.5}}</p>
        <hr style="color: #fff;">
      </div>
      {% endif %}
      <!-- bagian komen -->
      <!-- Add this form within the existing image details section -->
      
      {% if session.get("uid") %}
      <form role="form" action="/add_comment" method="POST">
        <input type="hidden" name="image_id" value="{{y.1}}">
        <div class="input-group pt-3 ps-5 pe-5 input-group-lg">
            <textarea name="comment_text" id="comment-text" class="form-control" placeholder="Add a comment..." required
                style="background-color:rgb(43, 38, 53); border: 1px solid #797979; color: #fff; border-radius: 2px;"></textarea>
        </div>
        <div class="modal-footer mx-5" style="background-color: rgb(58, 56, 71); background-repeat: no-repeat; background-image: url(/static/other/observatory_lower.png)">
            <div class="col" style="text-align: left;">
                <a class="fw-bold" style="color:#56ff64; margin-left: 60px;" href="#">Read Community Rules</a>
            </div>          
            <p id="char-count" class="text-white me-3">500</p>
            <button type="submit" class="btn btn-success fw-bold" data-bs-dismiss="modal">Post</button>
        </div>
    </form>
    {% else %}
      <div class="text-white mt-3">
        <p class="fw-bold">You must be logged in to comment. <a href="/login" style="color:#56ff64">Sign In</a> or <a href="/register" style="color:#56ff64">Sign Up</a>.</p>
      </div>
    {% endif %}
    
    

      <div class="mt-5">
        {% for sum in sumcmnt %}
          <h4 class="fw-bold text-white">{{sum.0}} Comments</h4>
        {% endfor %}
        <hr style="color: #fff;"><!-- Rubah dulu lan -->
      
        <!-- Check if there are comments -->
        {% if comments %}
          <!-- Individual Comment -->
          {% for cmnt in comments %}
            <div class="media mt-3 text-white">
              <div class="media-body">
                <a class="mt-0 text-white" href="/userpage/{{cmnt.2}}"><span class="fw-bold" style="color:#56ff64">{{cmnt.5}}</span> • {{cmnt.4}}</a>
                <p class="text-white">{{cmnt.3}}</p>
              </div>
            </div>
            <hr style="color: #fff;"><!-- Rubah dulu lan -->
          {% endfor %}
        {% else %}
          <!-- Display "No comments" if there are no comments -->
          <p class="text-white">No comments.</p>
        {% endif %}
      </div>
      
      <p class="py-5"></p>

      {% endfor %}
    </div>
    <!-- scrollify -->
    <div class="col-sm-4 scrollify sticky"> 
      <h5 class="fw-bold text-white">Newest Uploaded Magic</h5>
      <div class="col"><hr style="color: #fff;"></div>
      {% for x in newImg %}
        <div class="row pt-2">
          <div class="col-sm-2">
            <a href="/i/{{x.1}}">
              <img src="/static/img/{{x.3}}" width="50" height="50">
            </a>
          </div>
          <div class="col-sm-10 text-light">
            <a href="/i/{{x.1}}">
              {{x.4}} <br>
              <i class="max-lines" style="font-size:small; color: #adadad;">{{x.5}}</i>
            </a>
          </div>
        </div>
      {% endfor %}
      <hr class="d-sm-none">
    </div>
  </div>
</div>

</body>
{% include 'footer.html' %}

